*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
}

.container {
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4rem 0;
}

.primerContendor{
    gap: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1rem;
}

.darkMagenta{
    color: hsl(300, 43%, 22%);
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 700;   
}

.ligthMagenta{
    color: hsl(303, 10%, 53%);
    font-size: 15px;
}

#mueveJunto{
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    width: 100%;  
}

#muevenI , #mueven2 , #mueven3{
    background: hsl(300, 24%, 96%);
    padding: 1rem;  
    border-radius: 5%; 
}
    
#muevenI , #mueven2 , #mueven3 i{
    color: rgb(255, 225, 0);
}

#darkMagenta2 , #darkMagenta3 , #darkMagenta4 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;   
}

.contenedorDos{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#colton , #irene , #anne{
    background: hsl(300, 43%, 22%);   
    padding: 1rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}

#colton-img img{
    width: 15%;
    border-radius: 50%
}

#img-irene img{
    width: 15%;
    border-radius: 50%;
}

#img-anne img{
    width: 15%;
    border-radius: 50%
}

#img-anne , #img-irene , #colton-img{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: row;
}

#blanco{
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 0.1rem;
}

#softPink{
    color:  hsl(333, 80%, 67%);
    text-shadow: 2px 2px 2px black;
    padding-bottom: 0.5rem;
}

#Blanco{
    padding: 1rem;
    color: white;
}

.attribution {
    display: none;
}

@media screen and (min-width:1440px) {
    
    .container {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-position: top, bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 4rem 0;
    }

    .primerContendor{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #mueveJunto{
        display: flex;
        flex-direction: column;
        gap: 2rem;  
        width: 50%;  
    }

    .darkMagenta{
        font-size: 2.5rem;
    }

    #mueveTexto{
        width: 40%;
    }

    .ligthMagenta{
        color: hsl(303, 10%, 53%);
        font-size: 20px;
    }

    #darkMagenta{
        margin-right: 2%;
    }

    #muevenI , #mueven2 , #mueven3{
        width: 80%;
    }

    #mueven2{
        margin-left: 4%;
    }

    #mueven3{
        margin-left: 10%;
    }
    .contenedorDos {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly
    }

    #colton , #irene{
        width: 20%;
    }

    #anne{
        width: 19%;
    }

    #irene{
        margin-top: 4%;
    }

    #anne{
        margin-top: 10%;

    }
}